.pagination {
  width: 100%;
  display: flex;
  justify-content: space-between;
  button {
    background-color: #e85a4f;
    border: none;
    color: white;
    font-size: 16px;
    padding: 5px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    &:hover {
      background-color: #e8594fcc;
    }
  }
  .active {
    background-color: transparent;
    color: #e85a4f;
    border: 1px solid #e85a4f;
  }
}
