.jobs {
  height: 600px;
  padding: 20px;
  .addJob {
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      background-color: transparent;
      color: #e85a4f;
      font-weight: 500;
      padding: 5px;
      border: 1px solid #e85a4f;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  .jobTable > table {
    width: 100%;

    thead > tr > th {
      border: 1px solid black;
    }
    tbody > tr > td {
      border: 1px solid black;
    }
  }
}
