.table {
  // background-color: #eae7dc;
  width: 100%;
  height: 70vh;
  .head > th {
    padding: 10px;
    border-left: none;
    border-right: none;
  }
  .body > td {
    align-items: center;
    padding: 8px;
    border: none;
  }
  .action {
    display: flex;
    justify-content: space-around;
  }
}
