.table {
  // background-color: #eae7dc;
  width: 100%;
  .head > th {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.486);
    border-left: none;
    border-right: none;
  }
  .body > td {
    padding: 8px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.486);
  }
  .action {
    display: flex;
    justify-content: space-around;
  }
}
